<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <h4>What is <%= title %></h4>

  <header>
      <a href="/">index</a>
      <a href="/middleware">middleware</a>
      <a href="/embedded-javascript">embedded javaScipt</a>
      <a href="/mongoose" class="active">mongoose</a>
      <a href="/test">test</a>
  </header>

  <hr>

  <pre class="code">
  $ npm install mongoose
  </pre>

  <hr>
</body>

</html>